{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ajouter un路e utilisateur路rice</h1>

    <div>
        {{ form_start(accountForm)}}
        {{ form_widget(accountForm) }}
        <button>Ajouter</button>
        {{ form_end(accountForm)}}
    </div>

{% endblock %}
{% block title %}
    Ajouter un路e utilisateur路rice | {{ parent() }}
{% endblock %}
