@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

header
{
    padding: 20px;
}

header navbar
{
    display: flex;
    justify-content: space-between;
}

header navbar .menu ul
{
    display: flex;
    list-style-type: none;
}

header navbar .menu ul li a
{
    display: flex;
    padding: 0 15px 0 15px;
}

.filtres_accueil .filtres
{
    display: flex;
}


table{
    border-collapse: collapse
}

td{
    border: 1px solid black;
    padding: 10px;
}