{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <header>
        <navbar>
            <div class="logo">
                <h3>Logo Sortir.com</h3>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Mon profil</a></li>
                    <li><a href="">Se déconnecter</a></li>
                </ul>
            </div>
        </navbar>
    </header>

    <main>
        <div class="title_createSortie">
            <h3>Créer une sortie</h3>
        </div>

        <section class="formulaires_createExit">
            <div class="form1_createExit">
                <label for="">Nom de la sortie :</label>
                <input type="text">

                <label for="">Date et heure de la sortie :</label>
                <input type="datetime-local">

                <label for="">Date limite d'inscription :</label>
                <input type="date">

                <label for="">Nombre de places :</label>
                <input type="text">

                <label for="">Durée :</label>
                <input type="number">

                <label for="">Description et infos : </label>
                <textarea id="" name="" placeholder="Description de l'évent ...">
                </textarea>
            </div>

            <div class="form2_createExit">
                <label for="">Campus :</label>
                <input type="text" readonly>

                <label for="">Ville : </label>
                <select name="" id="">
                    <option>Rennes</option>
                    <option>Rommilé</option>
                    <option>Chartres de Bretagne</option>
                    <option>Brest</option>
                    <option>Lorient</option>
                    <option>Vannes</option>
                </select>
                <div class="lieu_createdExit">
                    <label for="">Lieu : </label>
                    <select name="" id="">
                        <option>Rennes</option>
                        <option>Rommilé</option>
                        <option>Chartres de Bretagne</option>
                        <option>Brest</option>
                        <option>Lorient</option>
                        <option>Vannes</option>
                    </select>
                    <button>+</button>
                </div>
            </div>

            <label for="">Rue :</label>
            <input type="text" readonly>

            <label for="">Code postal : </label>
            <input type="text" readonly>

            <label for="">Latitude : </label>
            <input type="text">

            <label for="">Longitude : </label>
            <input type="text">
        </section>

        <section class="button_createExit">
            <ul>
                <button>Enregistrer</button>
                <button>Publier la sortie</button>
                <button>Annuler</button>
            </ul>
        </section>
    </main>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/create.css') }}">
{% endblock %}