{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <header>
        <navbar>
            <div class="logo">
                <h3>Logo Sortir.com</h3>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Mon profil</a></li>
                    <li><a href="">Se déconnecter</a></li>
                </ul>
            </div>
        </navbar>
    </header>

    <main>
        <div class="title_createSortie">
            <h3>Créer une sortie</h3>
        </div>

        <section class=""
    </main>


{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('createExit/createExit.html.exit') }}">
{% endblock %}
