<nav>
    <ul>
        <li><a href="#">Campus</a></li>
        <li><a href="#">Villes</a></li>
        <li><a href="{{ path('app_account_list') }}">Gestion des comptes</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_myprofil') }}">Mon profil</a></li>
        <li><a href="#">Se déconnecter</a></li>
    </ul>
</nav>